<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemoteScansService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemoteScansService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
   
    <userSettings>
        <RemoteScansService.Properties.Settings>
            <setting name="WatchDirectory" serializeAs="String">
                <value>d:\scans</value>
            </setting>
            <setting name="BackupDirectory" serializeAs="String">
                <value>d:\scansBackups</value>
            </setting>
            <setting name="ServiceUrl" serializeAs="String">
                <value>http://localhost</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>rsUser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>rsPass</value>
            </setting>
        </RemoteScansService.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <RemoteScansService.Properties.Settings>
            <setting name="RemoteScansService_Service2SARS_rs" serializeAs="String">
                <value>http://ec2dev1/2sa/rs.asmx</value>
            </setting>
        </RemoteScansService.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
