<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Scans2SAServiceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Scans2SAServiceManager.Properties.Settings>
            <setting name="WatchDirectory" serializeAs="String">
                <value>d:\scans</value>
            </setting>
            <setting name="BackupDirectory" serializeAs="String">
                <value>d:\scansBackup</value>
            </setting>
            <setting name="ServiceUrl" serializeAs="String">
                <value>http://demo.ec2.pl/pertom/rs.asmx</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value>rsUser</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>rsPass</value>
            </setting>
        </Scans2SAServiceManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
